
# Intellij PyCharm / IDEA related files
*.conf
*.conf.bak
*.iml
*.mo
*.py[cdo]
*~
.*.swp
.idea
.swp
/.gitattributes
/.gitignore
/.mailmap
/.travis.yml
/CONTRIBUTING.md
/ChangeLog
/LICENSE.md
/Makefile
/RELNOTES
/debian
/locales
/man
/plugins
/requirements.txt
/sandbox
/scripts
/setup.py
/src
/test
INSTALL
MANIFEST
README.txt
backup/
build/
conf/
data/
debian/compat
debian/files
debian/limnoria*
debian/python-module-stampdir/
dist/
docs/_build/
docs/plugins/
limnoria.egg-info/
logs/
merge.sh
nano.save
push.sh
py3k/
src/version.py
src/version.py
supybot.egg-info/
test-conf/
test-data/
test-logs/
